<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body class="bg-seasalt">
    <%- include('partials/menubar')  %>

    <main role="main" class="container mt-4">
        <h1>Homepage</h1>
        <hr>

        <h5 class="fw-bold">Services :</h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 d-flex flex-wrap pb-5">
            <% services.forEach((service) => { %>
                <div class="col d-flex">
                    <div class="flex-fill h-100">
                        <a href="/session?service=<%= service._id %>" class="btn btn-outline-primary w-100" title="<%= service.count %> test founded">
                            <h5 class="card-title text-center"><%= service._id %></h5>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>

        <h5 class="fw-bolder">Recents sessions :</h5>
        <div class="list-group mb-4">
            <% sessions.forEach((session) => { %>
                <a href="/session?session_id=<%= session._id %>" class="list-group-item">
                    <%= session._id %>
                </a>
            <% }); %>
        </div>
    </main>
</body>
