<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="bg-seasalt">
    <%- include('partials/menubar') %>
    
    <main role="main" class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="sticky-top z-0" style="top:20px">
                    <div class="content-section rounded-4">
                        <h3 class="border-bottom">Search your test results</h3>
                        <p class="text-muted">You can put any information you'd like here.</p>
                        <div class="content-section rounded">
                            <form method="GET" action="/session">
                                <fieldset class="form-group">
    <!--                                session_id field-->
                                    <div class="form-group">
                                        <label for="form_session_id" class="form-control-label">Session ID</label>
                                        <input id="form_session_id" name="session_id" class="form-control form-control-lg" type="text" maxlength="22" placeholder="000000-000000-xxxxxxxx" value="<%= query.session_id %>" />
                                    </div>
    <!--                                service field-->
                                    <div class="form-group">
                                        <label for="form_service" class="form-control-label">Service</label>
                                        <input id="form_service" name="service" class="form-control form-control-lg" type="text" value="<%= query.service %>" />
                                    </div>
    <!--                                status field-->
                                    <div class="form-group">
                                        <label for="form_status" class="form-control-label">Status</label>
                                        <select id="form_status" name="status" class="form-control form-control-lg">
                                            <option value="" <% if (!query.status) { %>selected<% } %>></option>
                                            <option value="true" <% if (query.status == 'true') { %>selected<% } %>>True</option>
                                            <option value="false" <% if (query.status == 'false') { %>selected<% } %>>False</option>
                                        </select>
                                    </div>
    <!--                                env field-->
                                    <div class="form-group">
                                        <label for="form_env" class="form-control-label">Environment</label>
                                        <select id="form_env" name="env" class="form-control form-control-lg">
                                            <option value="" <% if (!query.env) { %>selected<% } %>></option>
                                            <option value="production" <% if (query.env == 'production') { %>selected<% } %>>production</option>
                                            <option value="recette" <% if (query.env == 'recette') { %>selected<% } %>>recette</option>
                                            <option value="snapshot" <% if (query.env == 'snapshot') { %>selected<% } %>>snapshot</option>
                                            <option value="localhost" <% if (query.env == 'localhost') { %>selected<% } %>>localhost</option>
                                        </select>
                                    </div>
                                    <a class="nav-link btn text-body-tertiary text-start" data-bs-toggle="collapse" data-bs-target="#advancedSearch" aria-expanded="false" aria-controls="advancedSearch">
                                        <p>Advanced</p>
                                    </a>
                                    <div id="advancedSearch" class="collapse">
                                        <div class="form-group">
                                            <label for="form_query" class="form-control-label">MongoDB query</label>
                                            <input id="form_query" name="query" class="form-control form-control-lg" type="text" />
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group mt-4">
                                    <input class="btn btn-primary btn-lg w-100" type="submit" value="Search">
                                </div>
                            </form>
                        </div>
                        <h3 class="border-bottom">More informations</h3>
                        <label>Total results founds</label>
                        <h3><%= results.length %></h3>
                        <label class="form-control-label">Status rate</label>
                        <div class="progress">
                            <% const success_percent = results.length ? (results.filter(r => r.status).length / results.length * 100).toFixed(0) : 100; %>
                            <div class="progress-bar bg-success" role="progressbar" style="width: <%= success_percent %>%" aria-valuemin="0" aria-valuemax="100"><%= success_percent %>%</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= 100 - success_percent %>%" aria-valuemin="0" aria-valuemax="100"><%= 100 - success_percent %>%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <% if (results.length > 0) { %>
                    <% results.forEach((result) => { %>
                        <div class="content-result rounded-4">
                            <div class="row">
                                <h2 class="col-md-8"><%= result.title %></h2><p class="col-md-4 text-body-tertiary fst-italic text-end fs-6"><%= new Date(result.timestamp * 1000).toLocaleString() %></p>
                            </div>
                            <div>
                                <h5>
                                    <b>Status: </b><span class="badge text-bg-<% if (result.status) { %>success<% } else { %>danger<% } %> px-1 font-monospace rounded"><% if (result.status) { %>Success<% } else { %>Fail<% } %></span>
                                </h5>
                                <h6 class="overflow-hidden"><a href="<%= result.url %>" target="_blank"><%= result.url %></a></h6>
                                <button class="btn btn-<% if (result.status) { %>light<% } else { %>warning<% } %> w-100" data-bs-toggle="collapse" data-bs-target="#errors_<%= result._id %>" aria-expanded="false" aria-controls="errors_<%= result._id %>">
                                    <strong>Errors [ <%= result.errors_list.length %> ]</strong>
                                </button>
                                <% if (result.errors_list.length > 0) { %>
                                    <div id="errors_<%= result._id %>" class="collapse">
                                        <div class="card">
                                            <ul class="mt-3">
                                                <% for (let u = 0; u < result.errors_list.length && u < 9; u++) { %>
                                                    <li><%= result.errors_list[u] %></li>
                                                <% } %>
                                            </ul>
                                            <% if (result.errors_list.length > 10) { %>
                                                <p class="text-center text-muted">more errors in details</p>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-secondary font-monospace"><%= result.test_info.service %> on <span class="fw-semibold text-capitalize"><%= result.test_info.env %></span></h6>
                                    </div>
                                    <div class="col text-end">
                                        <a class="" href="/session/<%= result._id %>">view details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <h3>No result found :(</h3>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>